@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.progress-wrapper {
  background: #f8f8f8;
  border-radius: 10px;
  margin: 2px 0;
  height: 100%;
  width: 2px;
}

.progress-inner {
  border-radius: 10px;
  background: #00ffff;
  width: 2px;
  transition: height 1000ms cubic-bezier(0.08, 0.82, 0.17, 1);
}

.redeem_select .css-1u9des2-indicatorSeparator {
  background: #2c2533;
}

.redeem_select .css-1nmdiq5-menu {
  background: #2c2533;
}

.redeem_select {
  background: #2c2533;
  border-radius: 10px;
  border: none !important;
  outline: none !important;
  padding: 0.4rem 0;
}

.redeem_select .css-13cymwt-control,
.redeem_select .css-t3ipsp-control {
  padding: 0 1rem 0 0.5rem;
}

.redeem_select .css-13cymwt-control,
.redeem_select .css-t3ipsp-control,
.redeem_select .css-1dimb5e-singleValue,
.redeem_select .swap_select {
  background: #2c2533 !important;
  border: none !important;
  font-family: "DM Sans";
  box-shadow: none !important;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
  outline: none !important;
  display: flex;
  align-items: center;
  width: 100% !important;
}

/* For tabs in social login -  swap screen  */
.social_login {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  color: white;
  padding: 1rem 2rem;
  min-width: 13.5rem;
  text-align: center;
  border-radius: 24px;
}

.react-tabs__tab--selected.social_login {
  background: rgba(255, 255, 255, 0.05);
  border: none;
  color: #ffffff;
  font-weight: 700;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 24px;
}
.toolTip {
  position: relative;
  display: inline-flex;
  border-bottom: 1px dotted black;
  scale: 1.2;
}

.toolTip .tooltipText {
  font-size: 9px;
  visibility: hidden;
  width: 60px;
  background-color: #2d2b2b;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -30px;
  opacity: 0;
  transition: opacity 0.3s;
}

.toolTip .tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #2d2b2b transparent transparent transparent;
}

.toolTip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.toolTip:hover {
  transform: scale(1.2);
}
